/* line 7, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/home.css.scss */
.team {
  padding-bottom: 100px;
}
/* line 9, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/home.css.scss */
.team .member {
  margin: 15px 0;
}
/* line 11, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/home.css.scss */
.team .member .col-xs-3 {
  padding: 0;
}
/* line 13, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/home.css.scss */
.team .member .col-xs-3 .name {
  position: relative;
  width: 80%;
  height: 0;
  padding-bottom: 80%;
  margin: 0 auto;
  border: 1px solid #000000;
  border-radius: 50%;
  font-size: 23px;
  text-align: center;
}
/* line 23, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/home.css.scss */
.team .member .col-xs-3 .name p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* line 31, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/home.css.scss */
.team .member .intro .title {
  font-size: 21px;
}
/* line 34, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/home.css.scss */
.team .member .intro .content {
  font-size: 18px;
}

/* line 42, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/home.css.scss */
.info {
  padding-bottom: 100px;
}
/* line 44, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/home.css.scss */
.info .self-intro {
  width: 700px;
  margin: 0 auto;
}
/* line 47, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/home.css.scss */
.info .self-intro .intro {
  margin: 10px 0;
  font-size: 18px;
}
/* line 52, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/home.css.scss */
.info .experience {
  width: 700px;
  margin: 0 auto;
  font-size: 18px;
  margin-top: 80px;
  padding-top: 40px;
  border-top: 1px solid #000000;
}
/* line 60, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/home.css.scss */
.info .calendar {
  width: 700px;
  margin: 0 auto;
  margin-top: 20px;
}
/* line 64, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/home.css.scss */
.info .calendar .row {
  height: 50px;
}
/* line 66, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/home.css.scss */
.info .calendar .row .col-xs-2 {
  text-align: center;
  height: 100%;
  background-color: red;
}
/* line 70, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/home.css.scss */
.info .calendar .row .col-xs-2 p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* line 76, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/home.css.scss */
.info .calendar .row .col-xs-10 {
  height: 100%;
  background-color: #4b4b4b;
}
/* line 79, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/home.css.scss */
.info .calendar .row .col-xs-10 p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 89, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/home.css.scss */
.contact {
  padding-bottom: 100px;
}
/* line 91, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/home.css.scss */
.contact .map {
  width: 500px;
  margin: 0 auto;
}
/* line 95, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/home.css.scss */
.contact .contact-info {
  width: 500px;
  margin: 0 auto;
  border-top: 1px solid #000000;
  padding: 0 20px;
}
/* line 100, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/home.css.scss */
.contact .contact-info div {
  margin: 5px 0;
  font-size: 17px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 18, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/application.css.scss */
.navbar .nav > .active > a {
  background: none;
}

/* line 21, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/application.css.scss */
body {
  min-width: 1200px;
}

/* line 26, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/application.css.scss */
.header {
  height: 120px;
  background-color: #ffffff;
}
/* line 29, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/application.css.scss */
.header .container {
  width: 500px;
  margin: 0 auto;
}
/* line 32, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/application.css.scss */
.header .container .title {
  font-size: 18px;
  text-align: center;
}
/* line 36, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/application.css.scss */
.header .container .navbar {
  margin-top: 5px;
  border-top: 2px solid #000000;
}
/* line 39, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/application.css.scss */
.header .container .navbar ul {
  margin: 0 auto;
  margin-top: 2px;
  width: 480px;
  float: none;
}
/* line 44, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/application.css.scss */
.header .container .navbar ul li {
  width: 120px;
}
/* line 46, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/application.css.scss */
.header .container .navbar ul li a {
  width: 100%;
  padding: 10px;
  text-align: center;
  color: #000000;
  font-size: 20px;
}
/* line 54, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/application.css.scss */
.header .container .navbar ul .active {
  border-bottom: 2px solid #000000;
}
/* line 56, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/application.css.scss */
.header .container .navbar ul .active a {
  background-color: #ffffff;
}
/* line 60, /home/jianzhongchen/Guangxian/webpage/app/assets/stylesheets/application.css.scss */
.header .container .navbar ul a:hover {
  color: #333;
}
