<div class="container-fluid about">
	<div class="self-intro">
		<div class="intro">广贤教育帮助在海外留学的中国学生逐步实现名校梦想和职业理想，致力于成为最优秀的全方
位服务海外学子转学、升学、生活和就业的教育机构。</div>
		<div class="intro">广贤教育的顾问团队全部来自哈佛、耶鲁、斯坦福、伯克利、哥伦比亚等美国名校，他们出于
对教育的热爱汇聚在一起，组成了同行业中最精英的团队。</div>
		<div class="intro">广贤教育精英化的定制服务吸引了最优秀的学生。每年，数十位来自常春藤、麻省理工、斯坦
福、伯克利的学生经过反复比较选择我们，在我们的帮助下更上一层楼，继续在名校追求梦想。</div>
		<div class="intro">广贤教育相信，名校属于每一个学生。我们帮助条件一般的学生精准选校定位，个性化呈现亮
点，与学校有效沟通，推介实习研究，全面优化背景，并通过社区大学转学逐步实现名校梦想。</div>
	</div>
	<div class="experience">七年历程<br>
		广贤教育是香港律政国际投资有限公司在美国注册的全资子公司。<br>
		律政国际主营法律服务和教育咨询，<br>
		创立了律政留学（国内最大的法学院申请咨询机构）、<br>
		同心同行（国内首家高校自主招生培训机构）、<br>
		中国留学生法律援助中心（非营利性组织）等多个品牌</div>
	<div class="calendar">
		<div class="row">
			<div class="col-xs-2"><p>2008</p></div>
			<div class="col-xs-10"><p>同心同行教育咨询有限公司在沈阳成立（注册号：110114313343403），是国内第一家高校自主招生
培训机构</p></div>
		</div>
		<div class="row">
			<div class="col-xs-2"><p>2009</p></div>
			<div class="col-xs-10"><p>同心同行学生人数突破两千人，因业务拓展需要，总部迁至北京</p></div>
		</div>
		<div class="row">
			<div class="col-xs-2"><p>2010</p></div>
			<div class="col-xs-10"><p>同心同行推出留学申请VIP咨询服务，创立国内第一个专注于法学院申请咨询的教育品牌“律政留学”：
www.mylawschool.cn</p></div>
		</div>
		<div class="row">
			<div class="col-xs-2"><p>2011</p></div>
			<div class="col-xs-10"><p>律政留学帮助百余位法学学子成功申请哈佛、耶鲁、牛津、剑桥等世界名校法学院，成为法学院申请咨
询第一品牌</p></div>
		</div>
		<div class="row">
			<div class="col-xs-2"><p>2012</p></div>
			<div class="col-xs-10"><p>同心同行在香港注册为律政国际（注册号：2046133），开辟美国、香港、英国、澳洲等地留学申请
服务</p></div>
		</div>
		<div class="row">
			<div class="col-xs-2"><p>2013</p></div>
			<div class="col-xs-10"><p>律政国际积极履行社会责任，在美国创立中国留学生法律援助中心，获得主流媒体广泛关注：
www.coslac.org</p></div>
		</div>
		<div class="row">
			<div class="col-xs-2"><p>2014</p></div>
			<div class="col-xs-10"><p>律政国际在美国注册全资子公司广贤教育（注册号：########），专注于帮助海外学子申请世界名校</div>
		</div>
	</div>
</div>