<div class="container-fluid about">
	<div class="row">
		<div class="col-xs-12 head">
			<div class="text">
				<span class="line1">广贤学舍</span><br>
				<span class="line2">美国本科转学服务领跑者</span>
			</div>
			<div class="link">
				<div class="link1">
					<a href=""><button class="btn">广贤学舍</button></a>
					<p>社区大学综合服务</p>
				</div>
				<div class="link2">
					<a href=""><button class="btn">名校孵化器</button></a>
					<p>美国研究生申请</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 about-text">
			<div class="title">ESTEEN ACADEMY</div>
			<div class="content">
				广贤学舍由哈佛、耶鲁、斯坦福、伯克利校友在美国创立，现有顾问20余人，<br>
				是集寄宿、学术辅导、申请指导、职业规划于一体的综合性转学服务机构，<br>
				致力于通过“2+2学制”全程服务助力中国学生实现美国名校梦想，<br>
				我们辅导的学生均获得全美排名前五十的大学录取。
			</div>
		</div>
	</div>
	<div class="row">
		<div class="feeds">
			<div class="col-xs-6 recent-news">
				<div class="row">
					<div class="col-xs-12 header">
						<div class="title">近期活动</div><div class="hint">更多</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 content">

					</div>
				</div>
			</div>
			<div class="col-xs-6 consult">
				<div class="row">
					<div class="col-xs-12 header">
						<div class="title">留学咨询</div><div class="hint">更多</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 content">

					</div>
				</div>
			</div>
		</div>
	</div>
</div>