<div class="container-fluid anli">
	<div class="anli-table">
		<div class="row">
			<div class="col-xs-3"><p>就读于国内优秀大学，希望较早进入世界名校</p></div>
			<div class="col-xs-9"><p>Amy高中成绩优秀，考入国内前五大学。因为来不及参加留学考试，我们安排其先到社区大学学习，同时推荐她到诺奖得主实验室做研究。通过两年VIP辅导，成功获得哥伦比亚大学、康奈尔大学等名校录取。</p></div>
		</div>
		<div class="row">
			<div class="col-xs-3"><p>高考发挥不佳，或对所学专业不感兴趣，希望获得更适合自己的学习和发展空间</p></div>
			<div class="col-xs-9"><p>David未能进入理想大学，且因为调剂志愿，对自己的专业不感兴趣。我们帮他进入社区大学，修读喜爱的课程，并推荐他到美国公司学习财务，最终被伯克利经济系录取，并获得香港顶尖投资银行实习机会。</p></div>
		</div>
		<div class="row">
			<div class="col-xs-3"><p>学习基础薄弱，需要通过转换学习环境和教育模式有所发展</p></div>
			<div class="col-xs-9"><p>Tim高三起脱产准备出国考试，但始终未能达到语言成绩标准，面临着无学可上的窘境。我们帮他在两个月内申请到社区大学，通过我们的规划，一边补习语言，一边修读对语言要求较低的数学课程。最终以优异成绩毕业，成功转入南加州大学。</p></div>
		</div>
		<div class="row">
			<div class="col-xs-3"><p>没申请到美国名校，依然向往顶尖大学</p></div>
			<div class="col-xs-9"><p>Michael一直没有考出理想的SAT成绩，加上留学中介能力有限，仅申请到美国排名100名左右的大学。我们帮助其进入合作院校DVC，并安排加州大学洛杉矶分校学长担任其私人导师，对他进行一年的辅导，帮他成功申请到该学校。</p></div>
		</div>
		<div class="row">
			<div class="col-xs-3"><p>就读于社区大学，需要我们的背景提升或申请服务</p></div>
			<div class="col-xs-9"><p>April就读于加州社区大学，即将申请转学，但对自己没有信心。我们的导师与她深入沟通，发现她对公共事务很有热情，为她争取到美国非营利性组织的实习，她表现优异，获得了推荐信。我们在文书中突出展现这段经历，帮助她获得康奈尔大学录取。</p></div>
		</div>
	</div>
	<div class="jiyu">
		<div class="title">学生寄语</div>
		<div class="row jiyu-single">Frank Zhang：“我刚来美国，英语不好，高中GPA只有2.9，本来只希望进一所普通大学，广贤向我介绍了社区大学转学，我在Diablo Valley College（我们叫它大菠萝谷）读了两年后，成功转进了南加大！感谢广贤为我打开了转学这扇门，还在文书中突出了我奋斗的过程和GPA的逐年进步，最终打动了招生官，圆了我的名校梦。”</div>
		<div class="row jiyu-single">Vivian Liu：“我本来申请的是生物专业，想进伯克利，但GPA只有3.7。广贤的申请顾问反复和我沟通，最终找到了音乐这个突破口。他们安排我在国内发行了自己的专辑，还在美国办了场小型音乐会，最终我被伯克利录取。感谢X老师！”</div>
	</div>
</div>