<div class="container-fluid contact">
	<div class="map">map</div>
	<div class="contact-info">
		<div>公司地址：2473 Durant Ave, Suit 206, Berkeley, CA 94704</div>
		<div>学舍地址：Franciscan Way, Kensington, CA 94708</div>
		<div>咨询电话：+1（510）697－0694</div>
		<div>咨询邮箱：info@esteemacademy.us</div>
		<div>咨询微信：esteemedu</div>
	</div>
</div>