<div class="container-fluid fuhua">
	<div class="fuhua-table">
		<div class="row">
			<div class="col-xs-3"><p>广贤名校孵化器——美国本科、研究生申请</p></div>
			<div class="col-xs-9">
				<div class="sub-title">关于我们</div>
				<div class="content">广贤名校孵化器由哈佛、耶鲁、杜克、伯克利校友在美国创立，现有顾问20余人，是集个人背景分析和选校定位咨询、课外活动规划、实习和研究推介、文书和推荐信写作指导、院校和导师于一体的综合性升学服务机构。<br>
				致力于通过精英团队一对一全程服务助力已在海外就读的中国学生实现美国名校梦想。我们辅导的学生均获得美国排名前50的大学录取。</div>
			</div>
		</div>
	</div>
	<div class="fuhua-table2">
		<div class="row">
			<div class="col-xs-3"><img src="/assets/mingxiao/1.jpg"></div>
			<div class="col-xs-9">
				<div class="sub-title">美国研究生留学优势</div>
				<div class="content">
					<ol>
						<li>
							<div class="title-field">易申请到顶级名校</div>
							<div class="content-field">美国顶级名校研究生录取人数比本科多得多（一些常春藤学校相差数百倍），看重学生在特定专业领域的优秀品质，且已经在美国就读本科更易获得美国名校硕士录取，申请硕士是塑造个人品牌和获取优质校友资源的捷径。</div>
						</li>
						<li>
							<div class="title-field">利于在美就业、移民</div>
							<div class="content-field">美国研究生除拥有CPT和OPT等实习机会，也享有更高工作签证中签率（两轮以上抽签，成功率可达80%），并可获得更优厚待遇。</div>
						</li>
						<li>
							<div class="title-field">利于回国就业、落户</div>
							<div class="content-field">多数国内政府机关、国企、事业单位和一些外企要求应聘者具有研究生学历，北京、上海等一线城市出台政策为研究生海归解决户口。</div>
						</li>
						<li>
							<div class="title-field">利于自主创业</div>
							<div class="content-field">名校研究生更易获得导师指点，积累行业资源，觅得合作伙伴，组建优良团队，通过人才引进等方式获得政策和资金扶持</div>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>