<div class="container-fluid info">
	<div class="youshi">
		<div class="row top-title">
			<div class="col-xs-3 left"></div>
			<div class="col-xs-3 right">广贤教育</div>
			<div class="col-xs-3 right">其他中介</div>
			<div class="col-xs-3 right">个人写手</div>
		</div>
		<div class="row main">
			<div class="col-xs-3 left"><p>导师水平</p></div>
			<div class="col-xs-3 right"><p>从本科起就读美国顶尖名校，全部经历过申请或转学并取得成功，覆盖大多数专业，拥有名校本科硕士博士团队。本可从事高薪工作，因对教育的热爱，分享亲身经历，和学生共同成长。</p></div>
			<div class="col-xs-3 right"><p>国内普通院校英语专业本科毕业，很多从未走出国门，对美国大学的认识停留于二手信息，为实现就业从事教育，为完成工作任务写作文书。</p></div>
			<div class="col-xs-3 right"><p>国内本科，虽然申请到美国博士甚至已担任教职，但从未从事招生工作，没有时间研究录取数据，专业领域外，对美国社会和文化也不了解。</p></div>
		</div>
		<div class="row main">
			<div class="col-xs-3 left"><p>学生数量</p></div>
			<div class="col-xs-3 right"><p>选择我们的学生已经在斯坦福、伯克利等名校就读，我们也帮助有潜力的学生更上一层楼，每年招生不超过50人，保证师生比在1:5之内。</p></div>
			<div class="col-xs-3 right"><p>追求规模化运营，文书批量生产，在每个学生身上投入时间少，不愿聆听学生经历，无法分析学生优势从而精准选校定位，差异化呈现亮点。</p></div>
			<div class="col-xs-3 right"><p>服务学生人数少，做一单是一单，不顾口碑，无法积累经验，研究历年数据，对各类申请没有专业分工，常出现用博士思维申请本科等错误。</p></div>
		</div>
		<div class="row main">
			<div class="col-xs-3 left"><p>服务范围</p></div>
			<div class="col-xs-3 right"><p>各类导师一对一全程跟进，包括全套申请服务以及申请成功后的选课指导、学术辅导、职业规划、人脉搭建等增值服务。</p></div>
			<div class="col-xs-3 right"><p>虽然表面上也提供课外活动规划、实习和研究推介、套磁等服务，但缺乏海外资源，创始人自身的资源也不可能真正与每个学生分享。</p></div>
			<div class="col-xs-3 right"><p>多以代写为目的，仅修改语法措辞，不顾学生背景提升，代写人名头大，但兼职投入少，写作任务外包给对申请毫无了解的学生。</p></div>
		</div>
		<div class="row main">
			<div class="col-xs-3 left"><p>收费标准</p></div>
			<div class="col-xs-3 right"><p>1000-8000美元（VIP项目除外），50%用于聘请精英导师，30%用于申请研究，每一分钱花在刀刃上。</p></div>
			<div class="col-xs-3 right"><p>5000-20000美元，50%以上收入用于广告、国际长途、租用高级写字楼等与申请结果无关的开支。</p></div>
			<div class="col-xs-3 right"><p>2000-5000美元，全部用于个人消费，没有研究录取的预算，不重视在教育行业的长期积累。</p></div>
		</div>
		<div class="row main">
			<div class="col-xs-3 left"><p>申请结果</p></div>
			<div class="col-xs-3 right"><p>客观定位，让优秀学生更优秀，发掘普通学生的闪光点，根据录取偏好指导学生从各方面完善自己，学生均进入美国排名前50的学校。</p></div>
			<div class="col-xs-3 right"><p>虽然迎合顾客心理，盲目许诺保进顶尖名校，但无法兑现一对一的高额成本投入，结果差强人意，因店大欺客，顾客无力追偿。</p></div>
			<div class="col-xs-3 right"><p>因为只是代工，多和申请结果脱钩，虽然完成了辞藻华丽的作品，但无法突出差异化竞争力，与招生官的期待相去甚远，结果可想而知。</p></div>
		</div>
		<div class="row main">
			<div class="col-xs-3 left"><p>学生发展</p></div>
			<div class="col-xs-3 right"><p>学生和各类顾问保持联系，不仅在他们的帮助下进入了理想的学校，也收获了友谊，便捷地融入了美国社会，找到了心仪的工作。</p></div>
			<div class="col-xs-3 right"><p>商业气息浓厚，合同签订就意味着合作完成，没有教学相长的意识，不重视与每个学生的深入交流和精神上的共同成长。</p></div>
			<div class="col-xs-3 right"><p>看似与学生有较多个人接触，但教育只是其收入的一小部分，也是其生活和工作的一小部分，没有精力和热情关注学生的发展。</p></div>
		</div>
	</div>
</div>