<div class="container-fluid mingxiaofuwu">
	<div class="mingxiao-table">
		<div class="row">
			<div class="col-xs-3"><p>服务范围</p></div>
			<div class="col-xs-9">
				<div class="sub-title">本科、研究生申请全程服务</div>
				<div class="content">
					<ol>
						<li>
							基于对院校和项目的深入研究，通过专业有效沟通，豁免SAT、SAT II、GRE、GMAT、托福、雅思成绩，获得名校录取。
						</li>
						<li>
							结合历年经验和大量数据分析，精准定位，合理取舍学校、项目、专业、录取轮次和作品集等支持材料，找到您在现有条件下进入更好学校的捷径。
						</li>
						<li>
							通过个性化背景分析和全方位战略规划，塑造差异化竞争力，突破现有的标准化考试成绩的限制，让申请结果更上一层楼。
						</li>
						<li>
							文书创作人全部在美国名校就读过本科和研究生，英文材料均由英语为母语的文学、语言学专业外籍顾问审阅，完全对接招生官的思维和表达方式。
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="mingxiao-table2">
		<div class="row"><img src="/assets/mingxiao/2.jpg"></div>
	</div>
</div>