<div class="container-fluid mingxiaoyoushi">
	<div class="youshi-table">
		<div class="row title">我们的优势</div>
		<div class="row main">
			<div class="col-xs-9 text">
				<div class="row col-xs-12">
					<div class="subtitle">美国名校申请顾问</div>
					<div class="content">广贤理解本科和研究生申请对学生长远发展的重要性，也理解亲身实践对咨询品质保证的必要性，我们秉承真正懂申请的人才能做申请的原则，所有顾问本科和研究生均毕业于美国名校。</div>
				</div>
				<div class="row col-xs-12">
					<div class="subtitle">海量数据案例研究</div>
					<div class="content">广贤创始团队从事教育咨询七年，录取几乎涵盖所有世界顶级名校。广贤每年投入30%的收入研究上千个成败案例和分析权威录取数据，保证咨询意见及时、准确、科学。</div>
				</div>
				<div class="row col-xs-12">
					<div class="subtitle">中美两国资源丰富</div>
					<div class="content">广贤团队在中国、香港和美国的金融、法律和创业圈拥有丰富行业资源，在文、理、工、商各专业拥有丰富学术资源，通过资源对接全面提升学生背景，也为职业发展和投资移民等增值服务提供便利。</div>
				</div>
				<div class="row col-xs-12">
					<div class="subtitle">公司地理位置便利</div>
					<div class="content">广贤团队位于美国加州，为面对面深入研讨分析和一对一个性化指导创造条件，同时省去高额的国际长途、邮寄、考察等开支，优化成本结构，费用花在学生身上。</div>
				</div>
			</div>
			<div class="col-xs-3 image"><img src="/assets/mingxiao/3.jpg"></div>
		</div>
	</div>
</div>