<div class="container-fluid mingxiaoanli">
	<div class="anli-table">
		<div class="row title">典型案例</div>
		<div class="row single">
			<div class="col-xs-12">
				<div class="subtitle">案例一</div>
				<div class="content">Alice Hu本科就读于美国排名50位左右的大学，成绩一般（GPA：3.4/4.0），通过我们申请商科硕士。我们帮助她在加州注册为中小企业提供定量市场分析的非营利性组织，指导她创建官网、维基名片、社交媒体公共主页等网络平台，并利用我们在加州的媒体资源大力推广。我们在文书中突出其在线营销方面的才能，并将相关链接在面试时提供给招生委员会。该生在没有全职工作经验的情况下被专业排名第一的西北大学整合营销传播硕士录取。</div>
			</div>
		</div>
		<div class="row single">
			<div class="col-xs-12">
				<div class="subtitle">案例二</div>
				<div class="content">Eric Zhao本科和硕士均就读于国内前二高校，通过我们申请美国顶尖学校物理学博士。我们安排他在研一暑假到劳伦斯伯克利国家实验室实习，以第二作者在国际一流刊物发表论文，并获得世界知名物理学家、该实验室项目主任强力推荐。最终获得普林斯顿大学、麻省理工学院等理工科顶级名校录取。</div>
			</div>
		</div>
		<div class="row single">
			<div class="col-xs-12">
				<div class="subtitle">案例三</div>
				<div class="content">Steve Zhu本科就读于美国综合排名100位以外的学校，成绩较好（GPA：3.7/4.0）但排名不拔尖（前30%），无GMAT成绩，GRE成绩也不理想（V148/Q165/AW3）。本人要求在没有全职工作经验的情况下申请常春藤工商管理硕士，并在找到我们时已经提交了几份申请。我们根据历年案例和数据，指出其录取机会不大。征得其本人同意后，及时补申了几所名校的公共管理硕士。尽管我们提交附加文书解释其标准化考试和工作经验方面的缺陷，其申请的几所常春藤MBA当年均没有录取中国应届本科毕业生。我们帮助他获得UCLA和USC MBA录取（同届没有工作经验获得录取不超过10人），又为他找到康奈尔校友推荐，获得公共政策硕士录取。Steve入读康奈尔后，我们继续跟进，建议他在商学院选课，指导他与教授反复沟通，最终成功申请到MBA/MPA双硕士，成为该校当年唯一一位没有全职工作经验的中国MBA。</div>
			</div>
		</div>
		<div class="row single">
			<div class="col-xs-12">
				<div class="subtitle">案例四</div>
				<div class="content">Michael Wang性格内向，虽然成绩优异（未加权GPA：4.0/4.0，年级排名第一），但高中几乎从未持续参加有亮点的课外活动和社会实践。我们与他深入交谈，发现他喜爱户外运动，常独自登山采集岩石矿物标本，对他们的名称、成分、分布和用途熟记于心。我们抓住他的这一兴趣爱好，打破主课老师写推荐信的惯例，请他的AP地理老师做推荐人，并说服老师直接打电话到各大学招生办强力推荐。在文书中将其性格比作岩石，以其常年跋山涉水的丰富经历和在野外遇险时的机智处理，展现其对目标的坚定追求和沉着勇敢的优秀品质。并在所有学生刻意展现领导力的大环境下，毫不避讳地在文书中主动承认他不喜群居，做出领导力有显性和隐性之分的论断，体现了他对自我清晰的认识和批判性思维。该生虽然被一些常春藤名校拒绝，最终获得耶鲁大学录取。</div>
			</div>
		</div>
	</div>
</div>