<div class="container quxiang">
	<div class="row overall">
		广贤学舍成立两年来: 全程辅导社区大学学生 6 名,最终去向:<br>
		<div class="red-text">1 人进入康奈尔大学</div>
		<div class="red-text">4 人进入加州大学伯克利分校</div>
		<div class="red-text">1 人进入加州大学洛杉矶分校</div>
	</div>
	<div class="row seperate">
		<div class="row">
			<div class="col-xs-3 single">
				<div class="row school-logo"><img src="/assets/school_logo/columbia.png"></div>
				<div class="row name">哥伦比亚大学<br>Columbia University</div>
				<div class="row content">
					<div class="number">2人</div>
					<div class="detail">常春藤盟校，US News综合排名第4名</div>
				</div>
			</div>
			<div class="col-xs-3 single">
				<div class="row school-logo"><img src="/assets/school_logo/cornell.gif"></div>
				<div class="row name">康奈尔大学<br>Cornell University</div>
				<div class="row content">
					<div class="number">5人</div>
					<div class="detail">常春藤盟校，US News综合排名第16名</div>
				</div>
			</div>
			<div class="col-xs-3 single">
				<div class="row school-logo"><img src="/assets/school_logo/berkeley.png"></div>
				<div class="row name">加州大学伯克利分校<br>University of California at Berkeley</div>
				<div class="row content">
					<div class="number">24人</div>
					<div class="detail">US News公立大学排名第1名，世界大学学术排名第4名</div>
				</div>
			</div>
			<div class="col-xs-3 single">
				<div class="row school-logo"><img src="/assets/school_logo/ucla.png"></div>
				<div class="row name">加州大学洛杉矶分校<br>University of California at Los Angeles</div>
				<div class="row content">
					<div class="number">12人</div>
					<div class="detail">US News公立大学排名第2名</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3 single">
				<div class="row school-logo"><img src="/assets/school_logo/ann_arbor.png"></div>
				<div class="row name">密歇根大学安娜堡分校<br>University of Michigan at Ann Arbor</div>
				<div class="row content">
					<div class="number">2人</div>
					<div class="detail">US News公立大学排名第4名</div>
				</div>
			</div>
			<div class="col-xs-3 single">
				<div class="row school-logo"><img src="/assets/school_logo/usc.jpg"></div>
				<div class="row name">南加州大学<br>University of Southern California</div>
				<div class="row content">
					<div class="number">12人</div>
					<div class="detail">US News综合排名前30</div>
				</div>
			</div>
			<div class="col-xs-3 single">
				<div class="row school-logo"><img src="/assets/school_logo/git.png"></div>
				<div class="row name">乔治亚理工学院<br>Georgia Institute of Technology</div>
				<div class="row content">
					<div class="number">2人</div>
					<div class="detail">US News工学院排名第6名</div>
				</div>
			</div>
			<div class="col-xs-3 single">
				<div class="row school-logo"><img src="/assets/school_logo/ucsd.png"></div>
				<div class="row name">加州大学圣地亚哥分校<br>University of California at San Diego</div>
				<div class="row content">
					<div class="number">4人</div>
					<div class="detail">US News综合排名前40</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3 single">
				<div class="row school-logo"><img src="/assets/school_logo/uc_davis.jpg"></div>
				<div class="row name">加州大学戴维斯分校<br>University of California at Davis</div>
				<div class="row content">
					<div class="number">6人</div>
					<div class="detail">US News综合排名前40</div>
				</div>
			</div>
			<div class="col-xs-3 single">
				<div class="row school-logo"><img src="/assets/school_logo/uiuc.png"></div>
				<div class="row name">伊利诺伊大学香槟分校<br>University of Illinois Urbana Champaign</div>
				<div class="row content">
					<div class="number">3人</div>
					<div class="detail">US News综合排名前50，工学院第6名</div>
				</div>
			</div>
			<div class="col-xs-3 single">
				<div class="row school-logo"><img src="/assets/school_logo/uc_irvine.png"></div>
				<div class="row name">加州大学尔湾分校<br>University of California at Irvine</div>
				<div class="row content">
					<div class="number">4人</div>
					<div class="detail">US News综合排名前50</div>
				</div>
			</div>
		</div>
	</div>
</div>