<div class="container-fluid">
	<div class="col-xs-6">
		<div class="col-xs-2 col-xs-offset-1 name">毕然</div>
		<div class="col-xs-8 col-xs-offset-1 intro">
			<div class="title">联合创始人</div>
			<div class="content">七年教育行业创业及管理经验。先后创立同心同行（国内首家高校自主招生培训
机构）和律政留学（国内最大的法学院申请咨询机构）。曾任伯克利公派学者联
合会主席、伯克利中国学生学者联合会副主席。加州大学伯克利分校法学硕士，
中国政法大学法学学士。</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="col-xs-2 col-xs-offset-1 name">孙欣</div>
		<div class="col-xs-8 col-xs-offset-1 intro">
			<div class="title">联合创始人</div>
			<div class="content">曾在香港知名国际律师事务所工作三年，为数十亿美元的跨境交易提供法律咨询。
并在深圳WTO事务中心及多家国际贸易律师事务所实习，参与多起反补贴及反倾
销应诉。创立和管理中国留学生法律维权中心（非营利性组织）。加州大学伯克
利分校法学硕士，香港大学法学学士。</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="col-xs-2 col-xs-offset-1 name">李子信</div>
		<div class="col-xs-8 col-xs-offset-1 intro">
			<div class="title">联合创始人</div>
			<div class="content">曾在德意志银行（香港）投资银行部、中信证券总部实习。在德国就读高中期间
创办中德青年文化交流协会（非营利性组织）。现任伯克利本科生招生大使，曾
任伯克利中国学生学者联合会副主席。加州大学伯克利分校本科，社会学、统计
学双专业。</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="col-xs-2 col-xs-offset-1 name">赵紫洲</div>
		<div class="col-xs-8 col-xs-offset-1 intro">
			<div class="title">申请导师</div>
			<div class="content">曾就读于美国东部社区大学，被哥伦比亚大学，约翰霍普金斯大学，加州大学伯克
利分校转学录取。曾作为转学生代表与美国总统奥巴马共进晚宴，并获得NBA湖人
队120万元科技英才奖学金，对理工科转学申请有深入研究。</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="col-xs-2 col-xs-offset-1 name">王虹</div>
		<div class="col-xs-8 col-xs-offset-1 intro">
			<div class="title">申请导师</div>
			<div class="content">以3.5/4.0的GPA成功从南加州某社区大学转学到加州大学伯克利分校，获媒体研
究学士学位。现就职于人民网美西分公司，任新闻记者，擅长发掘学生闪光点和
撰写专业文书，对人文社科类转学申请有深入研究。</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="col-xs-2 col-xs-offset-1 name">郑蓁</div>
		<div class="col-xs-8 col-xs-offset-1 intro">
			<div class="title">申请导师</div>
			<div class="content">从加州大学圣迭戈分校转学到伯克利分校，一年时间取得了数学和经济学双专业的
学士学位，并在工业工程和运筹学系主任推荐下，被哥伦比亚大学硕士录取，在四
年间完成三级跳跃，取得两个学士和一个硕士学位，充分展现了本科转学的优势。</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="col-xs-2 col-xs-offset-1 name">孙怀异</div>
		<div class="col-xs-8 col-xs-offset-1 intro">
			<div class="title">申请导师</div>
			<div class="content">从浙江大学转学到北加州Diablo Valley College（我公司合作院校），拿到哥伦比
亚大学、康奈尔大学、加州大学伯克利分校转学录取。曾在教育学核心期刊发表
论文，现在斯坦福大学从事教育政策研究，对中、美高等教育的不同有深刻理解。</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="col-xs-2 col-xs-offset-1 name">王晓岸</div>
		<div class="col-xs-8 col-xs-offset-1 intro">
			<div class="title">研究生申请导师</div>
			<div class="content">哈佛大学统计学硕士，加州大学伯克利分校工商管理学、工业工程与运筹学双学士。
曾在雅虎总部数据与洞见部、德勤（圣荷西）税务部、德勤（米兰）管理咨询部、
国家开发银行国际业务合作局、普华永道（北京）战略咨询部、君联资本实习。擅
长经济学、金融学、管理学研究生申请。</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="col-xs-2 col-xs-offset-1 name">毕然</div>
		<div class="col-xs-8 col-xs-offset-1 intro">
			<div class="title">联合创始人</div>
			<div class="content">七年教育行业创业及管理经验。先后创立同心同行（国内首家高校自主招生培训
机构）和律政留学（国内最大的法学院申请咨询机构）。曾任伯克利公派学者联
合会主席、伯克利中国学生学者联合会副主席。加州大学伯克利分校法学硕士，
中国政法大学法学学士。</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="col-xs-2 col-xs-offset-1 name">毕然</div>
		<div class="col-xs-8 col-xs-offset-1 intro">
			<div class="title">联合创始人</div>
			<div class="content">七年教育行业创业及管理经验。先后创立同心同行（国内首家高校自主招生培训
机构）和律政留学（国内最大的法学院申请咨询机构）。曾任伯克利公派学者联
合会主席、伯克利中国学生学者联合会副主席。加州大学伯克利分校法学硕士，
中国政法大学法学学士。</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="col-xs-2 col-xs-offset-1 name">毕然</div>
		<div class="col-xs-8 col-xs-offset-1 intro">
			<div class="title">联合创始人</div>
			<div class="content">七年教育行业创业及管理经验。先后创立同心同行（国内首家高校自主招生培训
机构）和律政留学（国内最大的法学院申请咨询机构）。曾任伯克利公派学者联
合会主席、伯克利中国学生学者联合会副主席。加州大学伯克利分校法学硕士，
中国政法大学法学学士。</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="col-xs-2 col-xs-offset-1 name">毕然</div>
		<div class="col-xs-8 col-xs-offset-1 intro">
			<div class="title">联合创始人</div>
			<div class="content">七年教育行业创业及管理经验。先后创立同心同行（国内首家高校自主招生培训
机构）和律政留学（国内最大的法学院申请咨询机构）。曾任伯克利公派学者联
合会主席、伯克利中国学生学者联合会副主席。加州大学伯克利分校法学硕士，
中国政法大学法学学士。</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="col-xs-2 col-xs-offset-1 name">毕然</div>
		<div class="col-xs-8 col-xs-offset-1 intro">
			<div class="title">联合创始人</div>
			<div class="content">七年教育行业创业及管理经验。先后创立同心同行（国内首家高校自主招生培训
机构）和律政留学（国内最大的法学院申请咨询机构）。曾任伯克利公派学者联
合会主席、伯克利中国学生学者联合会副主席。加州大学伯克利分校法学硕士，
中国政法大学法学学士。</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="col-xs-2 col-xs-offset-1 name">毕然</div>
		<div class="col-xs-8 col-xs-offset-1 intro">
			<div class="title">联合创始人</div>
			<div class="content">七年教育行业创业及管理经验。先后创立同心同行（国内首家高校自主招生培训
机构）和律政留学（国内最大的法学院申请咨询机构）。曾任伯克利公派学者联
合会主席、伯克利中国学生学者联合会副主席。加州大学伯克利分校法学硕士，
中国政法大学法学学士。</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="col-xs-2 col-xs-offset-1 name">毕然</div>
		<div class="col-xs-8 col-xs-offset-1 intro">
			<div class="title">联合创始人</div>
			<div class="content">七年教育行业创业及管理经验。先后创立同心同行（国内首家高校自主招生培训
机构）和律政留学（国内最大的法学院申请咨询机构）。曾任伯克利公派学者联
合会主席、伯克利中国学生学者联合会副主席。加州大学伯克利分校法学硕士，
中国政法大学法学学士。</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="col-xs-2 col-xs-offset-1 name">毕然</div>
		<div class="col-xs-8 col-xs-offset-1 intro">
			<div class="title">联合创始人</div>
			<div class="content">七年教育行业创业及管理经验。先后创立同心同行（国内首家高校自主招生培训
机构）和律政留学（国内最大的法学院申请咨询机构）。曾任伯克利公派学者联
合会主席、伯克利中国学生学者联合会副主席。加州大学伯克利分校法学硕士，
中国政法大学法学学士。</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="col-xs-2 col-xs-offset-1 name">毕然</div>
		<div class="col-xs-8 col-xs-offset-1 intro">
			<div class="title">联合创始人</div>
			<div class="content">七年教育行业创业及管理经验。先后创立同心同行（国内首家高校自主招生培训
机构）和律政留学（国内最大的法学院申请咨询机构）。曾任伯克利公派学者联
合会主席、伯克利中国学生学者联合会副主席。加州大学伯克利分校法学硕士，
中国政法大学法学学士。</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="col-xs-2 col-xs-offset-1 name">毕然</div>
		<div class="col-xs-8 col-xs-offset-1 intro">
			<div class="title">联合创始人</div>
			<div class="content">七年教育行业创业及管理经验。先后创立同心同行（国内首家高校自主招生培训
机构）和律政留学（国内最大的法学院申请咨询机构）。曾任伯克利公派学者联
合会主席、伯克利中国学生学者联合会副主席。加州大学伯克利分校法学硕士，
中国政法大学法学学士。</div>
		</div>
	</div>
</div>