<div class="container-fluid team">
	<div class="row">
		<div class="col-xs-6 member">
			<div class="name"><p>毕然</p></div>
			<div class="intro">
				<div class="title">联合创始人</div>
				<div class="content">七年教育行业创业及管理经验。先后创立同心同行（国内首家高校自主招生培训机构）和律政留学（国内最大的法学院申请咨询机构）。曾任伯克利公派学者联合会主席、伯克利中国学生学者联合会副主席。加州大学伯克利分校法学硕士，中国政法大学法学学士。</div>
			</div>
		</div>
		<div class="col-xs-6 member">
			<div class="name"><p>孙欣</p></div>
			<div class="intro">
				<div class="title">联合创始人</div>
				<div class="content">曾在香港知名国际律师事务所工作三年，为数十亿美元的跨境交易提供法律咨询。并在深圳WTO事务中心及多家国际贸易律师事务所实习，参与多起反补贴及反倾销应诉。创立和管理中国留学生法律维权中心（非营利性组织）。加州大学伯克利分校法学硕士，香港大学法学学士。</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 member">
			<div class="name"><p>李子信</p></div>
			<div class="intro">
				<div class="title">联合创始人</div>
				<div class="content">曾在德意志银行（香港）投资银行部、中信证券总部实习。在德国就读高中期间创办中德青年文化交流协会（非营利性组织）。现任伯克利本科生招生大使，曾任伯克利中国学生学者联合会副主席。加州大学伯克利分校本科，社会学、统计学双专业。</div>
			</div>
		</div>
		<div class="col-xs-6 member">
			<div class="name"><p>赵紫洲</p></div>
			<div class="intro">
				<div class="title">申请导师</div>
				<div class="content">曾就读于美国东部社区大学，被哥伦比亚大学，约翰霍普金斯大学，加州大学伯克利分校转学录取。曾作为转学生代表与美国总统奥巴马共进晚宴，并获得NBA湖人队120万元科技英才奖学金，对理工科转学申请有深入研究。</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 member">
			<div class="name"><p>王虹</p></div>
			<div class="intro">
				<div class="title">申请导师</div>
				<div class="content">以4.5/4.0的GPA成功从南加州某社区大学转学到加州大学伯克利分校，获媒体研究学士学位。现就职于人民网美西分公司，任新闻记者，擅长发掘学生闪光点和撰写专业文书，对人文社科类转学申请有深入研究。</div>
			</div>
		</div>
		<div class="col-xs-6 member">
			<div class="name"><p>郑蓁</p></div>
			<div class="intro">
				<div class="title">申请导师</div>
				<div class="content">从加州大学圣迭戈分校转学到伯克利分校，一年时间取得了数学和经济学双专业的学士学位，并在工业工程和运筹学系主任推荐下，被哥伦比亚大学硕士录取，在四年间完成三级跳跃，取得两个学士和一个硕士学位，充分展现了本科转学的优势。</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 member">
			<div class="name"><p>孙怀异</p></div>
			<div class="intro">
				<div class="title">申请导师</div>
				<div class="content">从浙江大学转学到北加州Diablo Valley College（我公司合作院校），拿到哥伦比亚大学、康奈尔大学、加州大学伯克利分校转学录取。曾在教育学核心期刊发表论文，现在斯坦福大学从事教育政策研究，对中、美高等教育的不同有深刻理解。</div>
			</div>
		</div>
		<div class="col-xs-6 member">
			<div class="name"><p>王晓岸</p></div>
			<div class="intro">
				<div class="title">研究生申请导师</div>
				<div class="content">哈佛大学统计学硕士，加州大学伯克利分校工商管理学、工业工程与运筹学双学士。曾在雅虎总部数据与洞见部、德勤（圣荷西）税务部、德勤（米兰）管理咨询部、国家开发银行国际业务合作局、普华永道（北京）战略咨询部、君联资本实习。擅长经济学、金融学、管理学研究生申请。</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 member">
			<div class="name"><p>李宝磊</p></div>
			<div class="intro">
				<div class="title">研究生申请导师</div>
				<div class="content">世界最大团购网站Groupon数据科学家。杜克大学物理学博士，清华大学物理学硕士，南京大学物理学学士。曾任杜克中国学生学者联合会主席。曾获国家优秀自费留学生奖学金，清华大学特等奖学金，国家二等奖学金等。擅长理工科申请。</div>
			</div>
		</div>
		<div class="col-xs-6 member">
			<div class="name"><p>William Qiang</p></div>
			<div class="intro">
				<div class="title">研究生申请导师</div>
				<div class="content">美籍华人，被耶鲁大学、麻省理工学院、加州理工学院、芝加哥大学经济系本科录取，曾在耶鲁大学招生办工作，并在清华大学访学一年，精通中英文，负责东岸学校申请咨询以及所有文书内容的最终修改审定。</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 member">
			<div class="name"><p>Branden Carruthers</p></div>
			<div class="intro">
				<div class="title">研究生申请导师</div>
				<div class="content">美国人，美国加州著名高中Preuss School毕业，曾任校学生会主席、辩论队队长，加州辩论联赛冠军，现在加州大学伯克利分校攻读语言学与认知科学双学士，在学校辅导中心担任英语写作助教，负责所有文书语言的最终修改审定。</div>
			</div>
		</div>
		<div class="col-xs-6 member">
			<div class="name"><p>杨昆</p></div>
			<div class="intro">
				<div class="title">学术导师</div>
				<div class="content">斯坦福大学计算与数学工程系博士研究生，师从机器学习理论鼻祖，研究计算机科学中的大数据分析。中国科学技术大学应用数学理学士，国际数学建模大赛一等奖。</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 member">
			<div class="name"><p>孙昊宇</p></div>
			<div class="intro">
				<div class="title">学术导师</div>
				<div class="content">加州大学伯克利分校物理学博士研究生。四年时间从伯克利获得数学、物理学、微生物学三个学士学位，并以全系第一名成绩毕业。在中、美两地拥有多项专利。</div>
			</div>
		</div>
		<div class="col-xs-6 member">
			<div class="name"><p>孙铮</p></div>
			<div class="intro">
				<div class="title">职业导师</div>
				<div class="content">美国名校本科，在华尔街雷曼兄弟担任投资银行分析师，随后在德意志银行（香港）担任投资银行部副总裁，现在著名国际私募股权投资基金任职。</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 member">
			<div class="name"><p>钱正浩</p></div>
			<div class="intro">
				<div class="title">职业导师</div>
				<div class="content">美国名校本科，曾在美国最大点评网站Yelp工作，现任世界最大社交网络服务网站facebook软件工程师，并在北加州联合创立电商交易平台Sellegit，任技术总监。</div>
			</div>
		</div>
		<div class="col-xs-6 member">
			<div class="name"><p>谌谟美</p></div>
			<div class="intro">
				<div class="title">生活导师</div>
				<div class="content">著名生物学家、社会活动家。加州大学伯克利分校研究员、北京师范大学教授。曾任全国妇联执委，长期关心大学生学习、生活和发展。其外祖父是著名教育家沈尹默先生，曾任北京大学校长。</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 member">
			<div class="name"><p>何敏轩</p></div>
			<div class="intro">
				<div class="title">生活导师</div>
				<div class="content">从事发展心理学研究和学生工作十余年。曾任伯克利研究生会执委、中国研究生会副主席，华东师范大学校学生会主席。加州大学伯克利分校心理学博士，华东师范大学心理学学士。</div>
			</div>
		</div>
	</div>
</div>