<div class="container-fluid team">
	<div class="row">
		<!-- 
		<% @members.each_slice(2).each do |group| %>
			<div class="row">
				<% group.each do |member| %>
					<div class="col-xs-6 member">
						<div class="name"><p><%= member.name %></p></div>
						<div class="intro">
							<div class="title"><%= member.title %></div>
							<div class="content"><%= member.content %></div>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
		 -->
		<div class="col-xs-6 member">
			<div class="name"><p>毕然</p></div>
			<div class="intro">
				<div class="title">联合创始人</div>
				<div class="content">七年教育行业创业及管理经验。先后创立同心同行（国内首家高校自主招生培训机构）和律政留学（国内最大的法学院申请咨询机构）。曾任伯克利公派学者联合会主席、伯克利中国学生学者联合会副主席。加州大学伯克利分校法学硕士，中国政法大学法学学士。</div>
			</div>
		</div>
		<div class="col-xs-6 member">
			<div class="name"><p>覃博</p></div>
			<div class="intro">
				<div class="title">联合创始人</div>
				<div class="content">以3.8GPA成功从社区大学转入伯克利经济学专业，伯克利首位中国籍兄弟会（Alpha Kappa Lambda）创始人，辅导二十余人进入UC。</div>
			</div>
		</div>
		<div class="col-xs-6 member">
			<div class="name"><p>孙欣</p></div>
			<div class="intro">
				<div class="title">联合创始人</div>
				<div class="content">曾在香港知名国际律师事务所工作三年，为数十亿美元的跨境交易提供法律咨询。并在深圳WTO事务中心及多家国际贸易律师事务所实习，参与多起反补贴及反倾销应诉。创立和管理中国留学生法律维权中心（非营利性组织）。加州大学伯克利分校法学硕士，香港大学法学学士。</div>
			</div>
		</div>
		<div class="col-xs-6 member">
			<div class="name"><p>王英瀚</p></div>
			<div class="intro">
				<div class="title">联合创始人</div>
				<div class="content">北加州最大的社区大学之一Foothill College的中国学生学者联合会（CSSA）创始人及首届主席。现就读于加州大学伯克利分校经济学专业，亲身经历社区大学申请四年制大学。对升学技巧，课外个人经验的获得，和社区大学的学业规划有深刻的了解。</div>
			</div>
		</div>
		<div class="col-xs-6 member">
			<div class="name"><p>赵紫洲</p></div>
			<div class="intro">
				<div class="title">社区大学申请导师</div>
				<div class="content">曾就读于美国东部社区大学，被哥伦比亚大学，约翰霍普金斯大学，加州大学伯克利分校转学录取。曾作为转学生代表与美国总统奥巴马共进晚宴，并获得NBA湖人队120万元科技英才奖学金，对理工科转学申请有深入研究。</div>
			</div>
		</div>
		<div class="col-xs-6 member">
			<div class="name"><p>王虹</p></div>
			<div class="intro">
				<div class="title">社区大学申请导师</div>
				<div class="content">以4.5/4.0的GPA成功从南加州某社区大学转学到加州大学伯克利分校，获媒体研究学士学位。现就职于人民网美西分公司，任新闻记者，擅长发掘学生闪光点和撰写专业文书，对人文社科类转学申请有深入研究。</div>
			</div>
		</div>
		<div class="col-xs-6 member">
			<div class="name"><p>孙怀异</p></div>
			<div class="intro">
				<div class="title">社区大学申请导师</div>
				<div class="content">从浙江大学转学到北加州Diablo Valley College（我公司合作院校），拿到哥伦比亚大学、康奈尔大学、加州大学伯克利分校转学录取。曾在教育学核心期刊发表论文，现在斯坦福大学从事教育政策研究，对中、美高等教育的不同有深刻理解。</div>
			</div>
		</div>
		<div class="col-xs-6 member">
			<div class="name"><p>李宝磊</p></div>
			<div class="intro">
				<div class="title">研究生申请导师</div>
				<div class="content">世界最大团购网站Groupon数据科学家。杜克大学物理学博士，清华大学物理学硕士，南京大学物理学学士。曾任杜克中国学生学者联合会主席。曾获国家优秀自费留学生奖学金，清华大学特等奖学金，国家二等奖学金等。擅长理工科申请。</div>
			</div>
		</div>
		<div class="col-xs-6 member">
			<div class="name"><p>Teresa Bai</p></div>
			<div class="intro">
				<div class="title">研究生申请导师</div>
				<div class="content">康奈尔大学物理学硕士，香港中文大学计算机硕士，北京大学物理学学士。曾多次获得国家优秀自费留学生奖学金，北京大学奖学金及其他国家级别的奖学金。</div>
			</div>
		</div>
		<div class="col-xs-6 member">
			<div class="name"><p>William Qiang</p></div>
			<div class="intro">
				<div class="title">研究生申请导师</div>
				<div class="content">美籍华人，被耶鲁大学、麻省理工学院、加州理工学院、芝加哥大学经济系本科录取，曾在耶鲁大学招生办工作，并在清华大学访学一年，精通中英文，负责东岸学校申请咨询以及所有文书内容的最终修改审定。</div>
			</div>
		</div>
		<div class="col-xs-6 member">
			<div class="name"><p>杨昆</p></div>
			<div class="intro">
				<div class="title">学术导师</div>
				<div class="content">斯坦福大学计算与数学工程系博士研究生，师从机器学习理论鼻祖，研究计算机科学中的大数据分析。中国科学技术大学应用数学理学士，国际数学建模大赛一等奖。</div>
			</div>
		</div>
		<div class="col-xs-6 member">
			<div class="name"><p>孙昊宇</p></div>
			<div class="intro">
				<div class="title">学术导师</div>
				<div class="content">加州大学伯克利分校物理学博士研究生。四年时间从伯克利获得数学、物理学、微生物学三个学士学位，并以全系第一名成绩毕业。在中、美两地拥有多项专利。</div>
			</div>
		</div>
	</div>
</div>