<div class="container-fluid xuezhi">
	<div class="xuezhi-table">
		<div class="row xuezhi-single">
			<div class="col-xs-3"><p>什么是“2+2”学制</p></div>
			<div class="col-xs-9"><p>学生前两年就读社区大学，获得副学士学位（Associate Degree），随后转入四年制大学再学习两年，获得与该校所有毕业生一样的学士学位（Bachelor's Degree）。<br><br>
			美国现任总统奥巴马在1979年进入美国加州洛杉矶的西方学院（Occidental College）学习，成绩并不优秀，但两年后，凭借过人的综合素质成功转学到哥伦比亚大学。</p></div>
		</div>
		<div class="row xuezhi-single">
			<div class="col-xs-3"><p>“2+2”学制的优势</p></div>
			<div class="col-xs-9">
				<div class="row">
					<div class="col-xs-3">入学要求低</div>
					<div class="col-xs-9">通常无需托福/雅思或美国大学入学考试（SAT）成绩</div>
				</div>
				<div class="row">
					<div class="col-xs-3">易转入名校</div>
					<div class="col-xs-9">加州大学明确表示，相对于四年制大学，优先录取社区大学转学生</div>
				</div>
				<div class="row">
					<div class="col-xs-3">节省高额学费</div>
					<div class="col-xs-9">社区大学学费约为四年制大学的1/2，学分可转入申请目标学校</div>
				</div>
				<div class="row">
					<div class="col-xs-3">课程循序渐进</div>
					<div class="col-xs-9">课程难度适中，小班教学，使学生逐步适应美国大学教学方式</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tongji">
		<div class="title">社区大学数据统计</div>
		<div class="row">
			<div class="col-xs-6 tongji-single">
				<div class="chart"><img src="/assets/xueshe/1.jpg"></div>
				<div class="description">美国约40%的大学生曾就读于社区大学（数据来源：美国国家统计局）。</div>
			</div>
			<div class="col-xs-6 tongji-single">
				<div class="chart"><img src="/assets/xueshe/2.jpg"></div>
				<div class="description">加州大学约30%的学生是社区大学转学生（数据来源：加州大学招生官网）。</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 tongji-single">
				<div class="chart"><img src="/assets/xueshe/3.jpg"></div>
				<div class="description">伯克利分校2014年共录取学生17149人，其中转学生3825人，约占22.3%（数据来源：伯克利招办办）。</div>
			</div>
			<div class="col-xs-6 tongji-single">
				<div class="chart"><img src="/assets/xueshe/4.jpg"></div>
				<div class="description">伯克利分校2014年录取的转学生约有94%来自于加州社区大学。</div>
			</div>
		</div>
	</div>
</div>