/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
	font-family: xingkai;
	src: url('/assets/fonts/xingkai.ttf') format('truetype');
}


.navbar .nav > .active > a {
 background:none;
}
body {
  min-width: 900px;
  font-family: xingkai;
}
.content-wrapper{
	min-height: 800px;
}

// header
.header {
	background-color: #ffffff;
	border: none;
	margin-top: 5px;
	margin-bottom: 0;
	.container {
		width: 840px;
		margin: 0 auto;
		.logo {
			width: 150px;
			margin: 0 auto;
			img {
				width: 100%;
			}
		}
		.title {
			font-size: 18px;
			text-align: center;
		}
		.navbar {
			margin-top: 5px;
			margin-bottom: 0;
			border: none;
			border-top: 2px solid #000000;
			border-radius: 0;
			ul {
				margin: 0 auto;
				margin-top: 2px;
				float: none;
				text-align: center;
				li {
					width: 120px;
					a {
						width: 100%;
						padding: 10px 0;
						text-align: center;
						color: #000000;
						font-size: 18px;
					}
				}
				.dropdown {
					margin: 0;
					border: none;
					.dropdown-menu {
						margin: 0 auto;
						float: none;
						padding: 0;
						border: none;
						text-align: center;
						width: 120px;
						min-width: 0px;
						li {
							width: 120px;
							a {
								width: 100%;
								padding: 10px 0;
								text-align: center;
								color: #000000;
								font-size: 18px;
							}
						}
						.active {
							border: none;
							a{
								color: #d91200;
							}
						}
					}
				}
				.active {
					border-bottom: 3px solid #d91200;
					a {
						background-color: #ffffff;
					}
				}
				a:hover {
					color: #333;
				}
			}
		}
	}
}

// footer
.footer {
	margin-bottom: 0;
	background-color: #ffffff;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	.container {
		ul {
			li {
				margin: 0 5px;
			}
		}
		.copy {
			float: right;
			font-size: 13px;
		}
	}
}