// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// contact
.contact {
	.map {

	}
	.contact-info {
		width: 500px;
		margin: 0 auto;
		border-top: 1px solid #000000;
		padding: 0 20px;
		div {
			margin: 5px 0;
			font-size: 17px;
		}
	}
}