<nav class="navbar navbar-default footer" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><i class="fa fa-weibo fa-lg"></i></li>
      <li><i class="fa fa-tencent-weibo fa-lg"></i></li>
      <li><i class="fa fa-renren fa-lg"></i></li>
      <li><i class="fa fa-twitter fa-lg"></i></li>
      <li><i class="fa fa-facebook fa-lg"></i></li>
    </ul>
    <span class="copy">Legend © 2013 北京律政留学有限公司 咨询电话:010 - 69720271 / 京ICP备14036660号</span>
  </div>
</nav>