<nav class="navbar navbar-default footer" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><i class="fa fa-weibo fa-lg"></i></li>
      <li><i class="fa fa-tencent-weibo fa-lg"></i></li>
      <li><i class="fa fa-renren fa-lg"></i></li>
      <li><i class="fa fa-twitter fa-lg"></i></li>
      <li><i class="fa fa-facebook fa-lg"></i></li>
    </ul>
    <span class="copy">Copyright © 2014 Esteem, LLC. All rights reserved.</span>
  </div>
</nav>