<nav class="navbar navbar-default header" role="navigation">
  <div class="container">
  	<div class="row"></div>
  	<div class="row title"><span>ESTEEN</span> ACADEMY</div>
  	<div class="row navbar">
	    <ul class="nav navbar-nav">
	      <li <% if current_page?(about_path)|| current_page?(root_path) %>class="active"<% end %>><%= link_to "关于我们", about_path() %></li>
	      <li <% if current_page?(team_path) %>class="active"<% end %>><%= link_to "核心团队", team_path() %></li>
	      <li <% if current_page?(info_path) %>class="active"<% end %>><%= link_to "我们的优势", info_path() %></li>
	      <li <% if current_page?(contact_path) %>class="active"<% end %>><%= link_to "联系我们", contact_path() %></li>
	    </ul>
  	</div>
  </div>
</nav>